<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBhM2L_MnaLEGODd1KDMEqi2-Ai8eJa2zk</string>
	<key>GCM_SENDER_ID</key>
	<string>750597701177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.decoar</string>
	<key>PROJECT_ID</key>
	<string>decoar-bc983</string>
	<key>STORAGE_BUCKET</key>
	<string>decoar-bc983.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750597701177:ios:e6d6cc7507e6f172ea57e8</string>
</dict>
</plist>